<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <style type="text/css">{% block style %}{% endblock %}</style>
</head>
<body>
  <div id="main">
    {% block header %}{% endblock %}
    <div id="site_content">
      {% block sidebar %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
  </div>
</body>
</html>