{% extends "base.html" %}
{% block title %}
  Главная
{% endblock %}
{% block style %}
  {% include "inc_style.html" %}
{% endblock %}
{% block header %}
  {% include "inc_header.html" %}
{% endblock %}
{% block sidebar %}
  {% include "inc_sidebar.html" %}
{% endblock %}
{% block content %}
      <div id="content">
        <!-- insert the page content here -->
<!--        <h1>Examples</h1>-->
<!--        <p>This page contains examples of all the styled elements available as part of this design. Use this page for reference, whilst you build your website.</p>-->
<!--        <h2>Headings</h2>-->
<!--        <p>These are the different heading formats:</p>-->
<!--        <h1>Heading 1</h1>-->
<!--        <h2>Heading 2</h2>-->
<!--        <h3>Heading 3</h3>-->
<!--        <h4>Heading 4</h4>-->
<!--        <h5>Heading 5</h5>-->
<!--        <h6>Heading 6</h6>-->
<!--        <h2>Text</h2>-->
<!--        <p>The following examples show how the text (within '&lt;p&gt;&lt;/p&gt;' tags) will appear:</p>-->
<!--        <p><strong>This is an example of bold text</strong></p>-->
<!--        <p><i>This is an example of italic text</i></p>-->
<!--        <p><a href="#">This is a hyperlink</a></p>-->
<!--        <h2>Lists</h2>-->
<!--        <p>This is an unordered list:</p>-->
<!--        <ul>-->
<!--          <li>Item 1</li>-->
<!--          <li>Item 2</li>-->
<!--          <li>Item 3</li>-->
<!--          <li>Item 4</li>-->
<!--        </ul>-->
<!--        <p>This is an ordered list:</p>-->
<!--        <ol>-->
<!--          <li>Item 1</li>-->
<!--          <li>Item 2</li>-->
<!--          <li>Item 3</li>-->
<!--          <li>Item 4</li>-->
<!--        </ol>-->
        <h2>Смартфон 1</h2>
        <p>Быстрый, надёжный:</p>
        <span class="left"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 1.
        </p>
        <span class="center"><img src="images/graphic.png" alt="example graphic" /></span>
        <span class="right"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 1.
        </p>
        <h2>Смартфон 2</h2>
        <p>Быстрый, надёжный:</p>
        <span class="left"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 2.
        </p>
        <span class="center"><img src="images/graphic.png" alt="example graphic" /></span>
        <span class="right"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 2.
        </p>
        <h2>Смартфон 2</h2>
        <p>Быстрый, надёжный:</p>
        <span class="left"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 2.
        </p>
        <span class="center"><img src="images/graphic.png" alt="example graphic" /></span>
        <span class="right"><img src="images/graphic.png" alt="example graphic" /></span>
        <p>
          Описание 2.
        </p>
        <h2>Таблица ноутбуков</h2>
        <p>На складе есть:</p>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Производитель</th><th>Модель</th></tr>
          <tr><td>Lenovo</td><td>H3000</td></tr>
          <tr><td>HP</td><td>h2000</td></tr>
          <tr><td>Apple</td><td>iMac 2007</td></tr>
        </table>
<!--        <h2>Form Elements</h2>-->
<!--        <form action="#" method="post">-->
<!--          <div class="form_settings">-->
<!--            <p><span>Form field example</span><input type="text" name="name" value="" /></p>-->
<!--            <p><span>Textarea example</span><textarea rows="8" cols="50" name="name"></textarea></p>-->
<!--            <p><span>Checkbox example</span><input class="checkbox" type="checkbox" name="name" value="" /></p>-->
<!--            <p><span>Dropdown list example</span><select id="id" name="name"><option value="1">Example 1</option><option value="2">Example 2</option></select></p>-->
<!--            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="button" /></p>-->
<!--          </div>-->
<!--        </form>-->
      </div>
{% endblock %}
{% block footer %}
  {% include "inc_footer.html" %}
{% endblock %}
