<div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Новости</h3>
        <h4>Новость 1</h4>
        <h5>August 1st, 2014</h5>
        <p>Текст новости 1. Текст новости 1. Текст новости 1. Текст новости 1. Текст новости 1.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>Новость 2</h4>
        <h5>August 1st, 2014</h5>
        <p>Текст новости 2. Текст новости 2. Текст новости 2. Текст новости 2. Текст новости 2. <br /><a href="#">Read more</a></p>
        <h3>Список чего-то</h3>
        <ul>
          <li><a href="#">Что-то 1</a></li>
          <li><a href="#">Что-то 2</a></li>
          <li><a href="#">Что-то 3</a></li>
          <li><a href="#">Что-то 4</a></li>
        </ul>
        <h3>Поиск</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="images/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
