    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">MY<span class="logo_colour">_shop</span><span class="logo_colour2">_white</span></a></h1>
          <h2>Магазин электроники.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Домашняя</a></li>
          <li><a href="/shop/">Магазин</a></li>
          <li><a href="/about/">О нас</a></li>
          <li><a href="/contacts/">Поддержка</a></li>
        </ul>
      </div>
    </div>
