{% extends "base.html" %}
{% block title %}
  О нас
{% endblock %}
{% block style %}
  {% include "inc_style.html" %}
{% endblock %}
{% block header %}
  {% include "inc_header.html" %}
{% endblock %}
{% block sidebar %}
  {% include "inc_sidebar.html" %}
{% endblock %}
{% block content %}
      <div id="content">
        <!-- insert the page content here -->
        <h1>О нас</h1>
        <p>Мы продаем вещи.</p>
      </div>
{% endblock %}
{% block footer %}
  {% include "inc_footer.html" %}
{% endblock %}
